@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$black: #343C40;
$dark-gray: #485358;
$light-gray: #E5E5E5;
$white: #ffffff;
$gray: #889CA6;
$blue-gray: #485358;
$blue: #0F90E6;

$background-color: #f2f4f5;
$font-family: 'Jura', sans-serif;